In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nagapattinam,IN,2021-07-14 20:34:11,10.7667,79.8333,79.36,81,100,9.73
1,1,Praxedis Guerrero,MX,2021-07-14 20:34:12,31.3667,-106.0167,96.53,20,4,3.98
2,2,Paamiut,GL,2021-07-14 20:32:05,61.9940,-49.6678,43.02,96,87,8.25
3,3,Khatanga,RU,2021-07-14 20:30:26,71.9667,102.5000,46.40,61,100,16.08
4,4,Saskylakh,RU,2021-07-14 20:30:29,71.9167,114.0833,44.10,68,100,17.18

In [4]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nagapattinam,IN,2021-07-14 20:34:11,10.7667,79.8333,79.36,81,100,9.73
5,5,San Cristobal,VE,2021-07-14 20:34:12,7.7669,-72.2250,82.58,48,28,6.71
9,9,Hithadhoo,MV,2021-07-14 20:30:32,-0.6000,73.0833,82.24,75,100,8.66
12,12,Sinnamary,GF,2021-07-14 20:31:12,5.3833,-52.9500,80.37,81,79,9.15
18,18,Komsomolskiy,UZ,2021-07-14 20:34:15,40.4272,71.7189,81.32,32,33,4.61
22,22,Kaifeng,CN,2021-07-14 20:34:16,34.7911,114.3483,76.06,92,88,4.76
24,24,Kaman,IN,2021-07-14 20:34:16,27.6500,77.2667,88.75,60,100,7.16
26,26,Vila Velha,BR,2021-07-14 20:28:27,-20.3297,-40.2925,78.96,71,0,10.36
28,28,Thompson,CA,2021-07-14 20:31:25,55.7435,-97.8558,84.72,21,22,4.16
37,37,Kavieng,PG,2021-07-14 20:31:31,-2.5744,150.7967,82.29,76,69,8.59

In [28]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0    Nagapattinam      IN     79.36  10.7667   79.8333
5   San Cristobal      VE     82.58   7.7669  -72.2250
9       Hithadhoo      MV     82.24  -0.6000   73.0833
12      Sinnamary      GF     80.37   5.3833  -52.9500
18   Komsomolskiy      UZ     81.32  40.4272   71.7189
22        Kaifeng      CN     76.06  34.7911  114.3483
24          Kaman      IN     88.75  27.6500   77.2667
26     Vila Velha      BR     78.96 -20.3297  -40.2925
28       Thompson      CA     84.72  55.7435  -97.8558
37        Kavieng      PG     82.29  -2.5744  150.7967

In [1]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

NameError: name 'g_key' is not defined

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nagapattinam,IN,79.36,10.7667,79.8333,Sathya Lodge
5,San Cristobal,VE,82.58,7.7669,-72.2250,Posada Villaven C.A.
9,Hithadhoo,MV,82.24,-0.6000,73.0833,Scoop Guest House
12,Sinnamary,GF,80.37,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
18,Komsomolskiy,UZ,81.32,40.4272,71.7189,Ikathouse
22,Kaifeng,CN,76.06,34.7911,114.3483,Pullman Kaifeng Jianye
24,Kaman,IN,88.75,27.6500,77.2667,Dr.kishan kaman
26,Vila Velha,BR,78.96,-20.3297,-40.2925,Quality Suites Vila Velha
28,Thompson,CA,84.72,55.7435,-97.8558,Burntwood Hotel
37,Kavieng,PG,82.29,-2.5744,150.7967,Nusa Island Retreat

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))