In [29]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [30]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nagapattinam,IN,2021-07-14 20:34:11,10.7667,79.8333,79.36,81,100,9.73
1,1,Praxedis Guerrero,MX,2021-07-14 20:34:12,31.3667,-106.0167,96.53,20,4,3.98
2,2,Paamiut,GL,2021-07-14 20:32:05,61.9940,-49.6678,43.02,96,87,8.25
3,3,Khatanga,RU,2021-07-14 20:30:26,71.9667,102.5000,46.40,61,100,16.08
4,4,Saskylakh,RU,2021-07-14 20:30:29,71.9167,114.0833,44.10,68,100,17.18

In [31]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [32]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [33]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [35]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 80

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nagapattinam,IN,2021-07-14 20:34:11,10.7667,79.8333,79.36,81,100,9.73
26,26,Vila Velha,BR,2021-07-14 20:28:27,-20.3297,-40.2925,78.96,71,0,10.36
40,40,Dong Hoi,VN,2021-07-14 20:32:12,17.4833,106.6000,79.72,88,36,2.33
59,59,Gat,IL,2021-07-14 20:32:31,31.6100,34.7642,79.48,77,0,2.24
68,68,Atuona,PF,2021-07-14 20:30:44,-9.8000,-139.0333,78.40,63,14,23.38
71,71,Ilheus,BR,2021-07-14 20:34:26,-14.7889,-39.0494,78.62,78,20,9.22
78,78,Elliot Lake,CA,2021-07-14 20:34:27,46.3834,-82.6331,78.85,55,62,10.87
109,109,Alofi,NU,2021-07-14 20:30:51,-19.0595,-169.9187,78.69,89,75,6.91
114,114,Bhatkal,IN,2021-07-14 20:34:37,13.9667,74.5667,78.62,86,100,12.17
135,135,Areosa,PT,2021-07-14 20:34:42,41.7178,-8.8571,78.08,66,88,16.46

In [40]:
preferred_cities_df.count()

City_ID       34
City          34
Country       34
Date          34
Lat           34
Lng           34
Max Temp      34
Humidity      34
Cloudiness    34
Wind Speed    34
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0    Nagapattinam      IN     79.36  10.7667   79.8333
26     Vila Velha      BR     78.96 -20.3297  -40.2925
40       Dong Hoi      VN     79.72  17.4833  106.6000
59            Gat      IL     79.48  31.6100   34.7642
68         Atuona      PF     78.40  -9.8000 -139.0333
71         Ilheus      BR     78.62 -14.7889  -39.0494
78    Elliot Lake      CA     78.85  46.3834  -82.6331
109         Alofi      NU     78.69 -19.0595 -169.9187
114       Bhatkal      IN     78.62  13.9667   74.5667
135        Areosa      PT     78.08  41.7178   -8.8571

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nagapattinam,IN,79.36,10.7667,79.8333,Sathya Lodge
26,Vila Velha,BR,78.96,-20.3297,-40.2925,Quality Suites Vila Velha
40,Dong Hoi,VN,79.72,17.4833,106.6000,Nam Long Hotel
59,Gat,IL,79.48,31.6100,34.7642,OlusHome
68,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata
71,Ilheus,BR,78.62,-14.7889,-39.0494,Barravento Hotel
78,Elliot Lake,CA,78.85,46.3834,-82.6331,Paris Plaza
109,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
114,Bhatkal,IN,78.62,13.9667,74.5667,Nilawar Palace
135,Areosa,PT,78.08,41.7178,-8.8571,Hotel Flôr de Sal

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))